<div class="comment-index">
  <% if comments.any? %>
    <h4 class="mt-1 ml-1">コメント</h4>
    <% comments.each do |comment| %>
      <div class="comment">
        <div class="profile">
          <%= link_to admin_user_path(comment.user), class: 'text-dark' do %>
            <%= image_tag comment.user.get_profile_image(50,50), class: 'rounded-circle' %>
            <%= comment.user.name %>
          <% end %>
          <div class="float-right mt-3 mr-4">
            <%= link_to "削除", admin_post_comment_path(comment.post, comment), class: 'btn btn-sm btn-outline-danger', method: :delete,
              "data-confirm" => "本当に削除しますか？", remote: false %>
          </div>
        </div>
        <div class="comment-content">
          <%= simple_format(comment.comment) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>コメントはありません</p>
  <% end %>
</div>
