<% posts.each do |tweet| %>
  <div class="post">
    <div class="post-profile">
      <%= link_to user_path(tweet.user), class: 'text-dark' do %>
        <%= image_tag tweet.user.get_profile_image(50,50),class: 'rounded-circle' %>
        <%= tweet.user.name %>
      <% end %>
    </div>
    <div class="post-content">
      <%= render_with_tags(simple_format(tweet.body)) %>
    </div>
    <div class="post-bottom">
      <div class="post-show">
        <% if current_user.name == 'ゲストユーザー'%>
          <%= link_to post_path(tweet), class: 'text-dark' do %>
            <i class="fa-regular fa-comment"></i>
            <span>コメントを見る</span>
          <% end %>
        <% else %>
          <%= link_to post_path(tweet), class: 'text-dark' do %>
            <i class="fa-regular fa-comment"></i>
            <span>コメントする</span>
          <% end %>
        <% end %>
      </div>
      <div id="favorite_button_<%= tweet.id %>">
        <% unless current_user.name == 'ゲストユーザー' %>
          <%= render 'public/favorites/favorite', post: tweet %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
