<h2>投稿</h2>

<div id="comment-error">
  <%= render 'layouts/errors', obj: @comment %>
</div>

<div class="post">
  <div class="profile">
    <%= link_to user_path(@post.user), class: 'text-dark' do %>
      <%= image_tag @post.user.get_profile_image(50,50), class: 'rounded-circle' %>
      <%= @post.user.name %>
    <% end %>

    <% if @post.user == current_user %>
      <div class="float-right mt-3 mr-4">
        <%= link_to "削除", post_path(@post.id), class: 'btn  btn-sm btn-outline-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    <% end %>
  </div>

  <div class="post-content">
    <%= render_with_tags(simple_format(@post.body)) %>
  </div>

  <div class="post-favorite float-right mr-5 pr-5">
    <% unless current_user.name == 'ゲストユーザー' %>
      <div id="favorite_button_<%= @post.id %>">
        <%= render 'public/favorites/favorite', post: @post %>
      </div>
    <% end %>
  </div>

  <div class="send-comment mt-5">
    <% unless current_user.name == 'ゲストユーザー' %>
      <%= render 'public/comments/form', post: @post, comment: @comment %>
    <% end %>
  </div>
</div>

<div class="comments">
  <%= render 'public/comments/index', comments: @comments %>
</div>
