<h1>投稿</h1>
<div class="post">
  <div class="profile">
    <%= image_tag @post.user.get_profile_image(50,50), class: 'rounded-circle' %>
    <%= @post.user.name %>
    <% if @post.user == current_user %>
      <%= link_to "削除", post_path(@post.id), class: 'btn btn-danger btn-sm', method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
  <div class="post-body">
    <%= render_with_tags(@post.body) %>
    <% if @post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(@post), method: :delete, remote: false do %>
        ♥︎<%= @post.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(@post), method: :post, remote: false do %>
        ♡<%= @post.favorites.count %>
      <% end %>
    <% end %>
  </div>
  <div class="send-comment">
    <%= render 'public/comments/form', post: @post, comment: @comment %>
  </div>
</div>
<div class="comments">
  <%= render 'public/comments/index', comments: @comments %>
</div>
