<h2>投稿</h2>

<div class="post">
  <div class="profile pt-1 pl-1">
    <%= link_to admin_user_path(@post.user), class: 'text-dark' do %>
      <%= image_tag @post.user.get_profile_image, class: 'rounded-circle', size: '50x50' %>
      <%= @post.user.name %>
    <% end %>
  </div>

  <div class="post-content">
    <!--PostsHelperを使用-->
    <%= render_with_admin_tags(simple_format(@post.body)) %>
  </div>
</div>

<div class="comments">
  <%= render 'admin/comments/index', comments: @comments %>
</div>
