<h1>マイページ</h1>
<div class="profile">
  <%= image_tag @user.get_profile_image(80, 80), class: 'rounded-circle' %>
  <%= @user.name %>
  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-gear"></i>
  <% end %>
  <%= @user.introduction %>
</div>
<div class="posts">
  <% if @posts.any? %>
    <%= render 'posts/index', posts: @posts %>
  <% else %>
    <p>まだ投稿はありません</p>
  <% end %>
</div>
<div class="group">
  <% if @groups.any? %>
    <% @groups.each do |group| %>
      <%= image_tag group.group_image(50,50) %>
      <%= group.name %>
    <% end %>
  <% else %>
    <p>参加グループはありません</p>
  <% end %>
</div>
