<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>音の広場|好きな音楽を語り合おう！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="row">
    <%= render 'layouts/header' %>
    <%= render 'layouts/search' %>
    <main class="main col-lg-7 order-lg-2 px-lg-0", style="min-height: 100vh">
      <p id="notice"><%= notice %></p>
      <p id="alert", class="bg-danger text-white"><%= alert %></p>
      <div class="container"><%= yield %></div>
    </main>

  </body>
</html>
