<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="row">
    <%= render 'layouts/header' %>
    <%= render 'layouts/search' %>
    <main class="main col-lg-7 order-lg-2", style="min-height: 100vh">
      <p id="notice"><%= notice %></p>
      <p id="alert", class="bg-danger text-white"><%= alert %></p>
      <%= yield %>
    </main>

  </body>
</html>
